<div className="row">
    {/* First column */}
    <div
      className="col-md-6 d-none d-md-block"
      style={{ marginLeft: 'auto', marginRight: 'auto' ,paddingTop:'120px',backgroundColor:'yellow'}}
    >
   <h1 style={{marginTop: '51px'}}>Welcome to PassForSure</h1>
      <p>Unlock Your Potential, Achieve Success!

      Are you ready to embark on a journey towards academic success? At PassForSure, we are dedicated to helping  students like you reach their full potential and excel in their studies. With a comprehensive range of resources and a vibrant online community, we provide you with the tools and support needed to ace your exams and pass with flying colors.</p> 
    </div>
    <div
      className="col-md-6 d-md-none"
      style={secondDivStyle}
    >
      {/* Content for the second column (overlapping) */}
      <h1 style={{marginTop: '51px'}}>Welcome to PassForSure</h1>
      <p>Unlock Your Potential, Achieve Success!

      Are you ready to embark on a journey towards academic success? At PassForSure, we are dedicated to helping  students like you reach their full potential and excel in their studies. With a comprehensive range of resources and a vibrant online community, we provide you with the tools and support needed to ace your exams and pass with flying colors.</p>
    </div>
       {/* svg image overlap*/}

    <div className="col-md-6" style={{paddingTop:'20px',backgroundColor:'blue'}}>
     <LottieAnimation/>
    </div>
  </div>
    <div
      className="col-md-12"  style={{zIndex: 2,backgroundColor:'red'}}
    >
    <h1 >What We Offer:</h1>
    <ul>
   <li>Video Lectures: Access a vast library of high-quality video lectures led by experienced educators. Learn at your own pace, pause, rewind, and revisit complex topics until you master them.
   </li> 
   <li>Courses: Our carefully curated courses cover a wide range of subjects and exam preparation strategies. Whether you're gearing up for a standardized test or need help with your coursework, we have you covered.</li> 

   <li>Discussion Forum: Join a thriving community of learners and experts where you can ask questions, engage in discussions, and share knowledge. Collaborate with fellow students to enhance your understanding of challenging concepts.</li> 

   <li>Notes: Streamline your studies with our comprehensive notes, summaries, and study guides. These resources are designed to help you grasp key concepts quickly and effectively.</li> 
</ul>
      </div>
